html {
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 14px;
}

img {
  max-width: 100%;
}

/*
================================================================================
Typography.
================================================================================
*/

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
  font-weight: normal;
}

h1 {
  font-size: 112px;
  font-weight: 400;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  color: #808080;
}

h3 {
  font-size: 18px;
  color: #4d4d4d;

}
h4 {
  font-style: italic;
  font-size: 11px;
  color: #eee;
  text-align: center;
}

/*
================================================================================
Page Panels.
================================================================================
*/

.page-panel {
  padding-top: 250px;
  padding-left: 20px;
  padding-bottom: 250px;

  overflow: hidden;
  padding-left: 20%;
  padding-right: 20%;

/*  height: 60%;*/
}

.page-panel:nth-child(odd) {
  background-color: #ccc;
}

.page-panel:nth-child(even) {
  background-color: #999;
}

/*
================================================================================
Page Panels - BACKGROUND
================================================================================
*/
.page-panel--background {
  background-image: url("../images/photo-1441260038675-7329ab4cc264.jpg");
  background-size: cover ;
  background-position: center center;


}

.page-panel--background__text{
  color: #ccc;
}
/*
================================================================================
Page Panels - 3COL
================================================================================
*/
.page-panel--3col__heading {
  position: relative;
  padding-top: 5px;
}

.page-panel--3col__callout {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

/*
================================================================================
Page Panels - INTRO
================================================================================
*/


















